.section  {
  background-color: lemonchiffon;
  display:flex;
  justify-content:flex-end

}
#paragraph-1 {
  color: darkslateblue;
  background-color: white;
}

#paragraph-2 {
  color: darkslateblue;
  background-color: darkorange;
}

#paragraph-3 {
    color: white;
    background-color: darkslateblue;
}
